In [2]:
s = "dikshant gupta"

In [10]:
count_vowel = len(set(char for char in s if char in ["a", "e", "i", "o", "u"]))
count_vowel

3

In [ ]:
employee_salary = {
    "Alice": 50000,
    "Bob": 60000,
    "Charlie": 55000,
    "David": 58000
}
 
Find the name of the employee with 58000 salary

In [4]:
employee_salary = {
    "Alice": 50000,
    "Bob": 60000,
    "Charlie": 55000,
    "David": 58000
}

In [5]:
for name, salary in employee_salary.items():
    if salary > 58000:
        print(name)

Bob

In [7]:
employee_data = list(employee_salary.items())
employee_data

[('Alice', 50000), ('Bob', 60000), ('Charlie', 55000), ('David', 58000)]

In [8]:
employee_data[-1][0]

'David'